<template>
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container is-fluid">
                <h1 class="title">
                    Anagram App
                </h1>
                <h2 class="subtitle">
                    -
                </h2>
                <div class="notification">
                    <section>
                        <b-field label="Andmebaasis kirjeid kokku">
                            <b-input v-model="count" class="" rounded disabled></b-input>
                        </b-field>
                    </section>

                    <div class="columns">
                        <div class="column ">
                            <button class="button block" @click="loadLemmed">Import Lemmed</button>
                            <b-message title="Hoiatus" :active.sync="isActive" aria-close-label="Close message">
                                Ära käivita uuesti enne 10 minutit !
                            </b-message>
                        </div>
                    </div>

                    <br>
                    <section>
                        <b-field label="Sisesta sõna ja vajuta otsi">
                            <b-input v-model="current" size="is-large" rounded></b-input>
                        </b-field>
                        <br>
                        <div class="columns">
                            <div class="column buttons">
                                <b-button @click="searchAnagram" size="is-large">Otsi</b-button>
                            </div>

                            <div class="column">
                                <b-input v-model="anagram" size="is-large" rounded></b-input>
                            </div>
                            <div>

                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import axios from 'axios'

    export default {
        name: 'App',
        data() {
            return {
                current: '',
                count: '',
                isActive: false,
                polling: null,
                anagram: ''
            }
        },
        methods: {
            searchAnagram() {
                if (!this.current) {
                    return this.anagram = '';
                }

                axios.get('http://localhost/is-anagram/' + this.current)
                    .then((response) => {
                        console.log(response.data);
                        if (response.data.status) {
                            this.anagram = response.data.anagram;
                        } else {
                            this.anagram = 'Anagram puudub';
                        }
                    }, (error) => {
                        console.log(error);
                        this.anagram = error
                    })
            },
            loadLemmed() {
                axios.get("http://localhost/import-lemmed")
                    .then((response) => {
                        this.isActive = true;
                        console.log(response.data);

                    }, (error) => {
                        console.log(error);
                    })
            },
            pollData: function () {
                axios.get('http://localhost/leemed-count')
                    .then((response) => {
                        this.count = response.data.count;
                    }, (error) => {
                        console.log(error);
                    })
            }
        },
        mounted: function () {
            this.pollData();
            setInterval(function () {
                this.pollData();
            }.bind(this), 30000);
        }
    }
</script>
